<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CryptoWallet</title>

    <!-- Add Bootstrap, Bootstrap-Vue CSS, Vue,
    Babel, and Bootstrap-Vue JS to the <head> section -->
    <link type="text/css" rel="stylesheet" href="vendor/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="vendor/css/bootstrap-vue.min.css"/>

    <script src="vendor/js/vue.min.js"></script>
    <!-- Add this after vue.js -->
    <script src="vendor/js/polyfill.min.js"></script>
    <script src="vendor/js/bootstrap-vue.min.js"></script>
    <!-- axios for consuming rest-->
    <script src="vendor/js/axios.min.js"></script>

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }

    </style>

</head>

<body>
<div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <tr>
                <td>
                    <a class="navbar-brand" href="#">Welcome to <strong>CryptoWallet</strong></a>
                </td>
            </tr>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

    </nav>
    <br>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Cryptocurrency</th>
            <th>Amount</th>
            <th>Date of purchase</th>
            <th>Wallet location</th>
            <th>Current market value (EUR)</th>
            <th>Option</th>
        </tr>
        </thead>

        <!--{{crypto_form_data}} -->
        <form class="form-inline">
            <tr>
                <td>
                    <div class="form-group">
                        <select v-model="crypto_form_data.cryptoCurrencyId" class="form-control" id="crypto_currency"
                                required>
                            <option v-for="crypto in cryptos" v-bind:value="crypto.cryptoCurrencyId">{{ crypto.name }}
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input v-model="crypto_form_data.amount" type="number" class="form-control" id="amount"
                               placeholder="enter amount" required>
                        <div class="invalid-feedback">Sorry, you missed this one.</div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input v-model="crypto_form_data.dateOfPurchase" type="date" class="form-control"
                               id="date_of_purchase" required>
                        <div class="invalid-feedback">Sorry, you missed this one.</div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input v-model="crypto_form_data.walletLocation" type="text" class="form-control"
                               id="wallet_location" placeholder="where are the coins boii">
                        <div class="invalid-feedback">Sorry, you missed this one.</div>
                    </div>
                </td>
                <td></td>
                <td>
                    <!--button @click="promptAdd(crypto_form_data)" type="button" class="btn btn-success">Add</button-->
                    <div class="container" style="color: #0e1111;">
                        <button @click="addCrypto(crypto_form_data)" type="submit" class="btn btn-success"
                                data-toggle="modal" data-target="#additionModal">
                            Add
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="additionModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 v-if="errorCode.length == 0">Add moneyyyyy</h1>
                                        <h1 v-else>Error</h1>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h3 v-if="errorCode.length == 0">Consider it done, boss</h3>
                                        <h3 v-else>{{getErrorMessage()}}</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </form>
        <!-------------------------->
        <tbody id="cryptos">
        <tr v-for="crypto in user_cryptos">
            <td>{{ getCryptoNameFromId(crypto.cryptoCurrencyId) }}</td>
            <td>{{ crypto.amount }}</td>
            <td>{{ formatDate(crypto.dateOfPurchase) }}</td>
            <td>{{ crypto.walletLocation }}</td>
            <td>{{ crypto.currentMarketValue }}</td>
            <td>
                <!--button @click="promptDelete(crypto)" type="button" class="btn btn-danger">Delete</button-->
                <div class="container" style="color: #0e1111;">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletionModal">
                        Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="deletionModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1>Delete.. :(</h1>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <h3>U sure u wanna delete {{crypto.amount}} of your {{
                                        getCryptoNameFromId(crypto.cryptoCurrencyId) }} monehh?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button @click="deleteCrypto(crypto)" type="button" class="btn btn-danger"
                                            data-dismiss="modal">
                                        Delete
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="src/main.js"></script>
</body>

</html>
